.page__links {
  text-decoration: none;
}
 
.page__links:hover {
  opacity: 0.8;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}