.popup__input {
  padding: .5rem 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-clip: padding-box;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  text-align: start;
}

.popup__input:hover {
  background-color: #dfdfdf;
}

.popup__input:focus {
  outline: 1px solid #4b4b4b4d;
  background-color: #dfdfdf;
  border: none;
  border-bottom: 0;
}