.popup__input {
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-clip: padding-box;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  text-align: start;
  outline: none;
  display: block;
  height: 27px;
}

.popup__input:hover {
  background-color: #dfdfdf;
}