.popup__content {
  max-width: 430px;
  min-width: 282px;
  min-height: 322px;
  width: 100%;
  background-color: #fff;
  color: #000;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: -44px;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .popup__content {
    max-width: 282px;
    margin: 12px auto 0px;
  }
}