.popup__input-style {
  margin: 0;
  padding: .5rem 0;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  background-clip: padding-box;
}

.popup__input-style:hover {
  background-color: #dfdfdf;
}

.popup__input-style:focus {
  outline: 1px solid #4b4b4b4d;
  border-bottom: 0;
}