.popup__input-style {
  margin: 0;
  padding: .5rem .5rem;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  background-clip: padding-box;
}

.popup__input-style:hover {
  background-color: #dfdfdf;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.popup__input-style:focus {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: 1px solid rgba(75, 75, 75, 0.3);
  border-bottom: 0;
}