.element {
  display: flex;
  flex-direction: column;
  height: 361px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}